<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <style>
      :root {
        {% for scheme in settings.color_schemes %}
          --{{ scheme }}-background: {{ scheme.settings.background }};
          --{{ scheme }}-primary-color: {{ scheme.settings.primary_color }};
          --{{ scheme }}-on-primary-color: {{ scheme.settings.on_primary_color }};
          --{{ scheme }}-primary-border-color: {{ scheme.settings.primary_border_color }};
          --{{ scheme }}-secondary-color: {{ scheme.settings.secondary_color }};
          --{{ scheme }}-on-secondary-color: {{ scheme.settings.on_secondary_color }};
          --{{ scheme }}-secondary-border-color: {{ scheme.settings.secondary_border_color }};
          --{{ scheme }}-text-color: {{ scheme.settings.text_color }};
          --{{ scheme }}-links-color: {{ scheme.settings.links_color }};
          --{{ scheme }}-icons-color: {{ scheme.settings.icons_color }};
        {% endfor %}
      }
    </style>

    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'countdown.js' | asset_url | script_tag }}
  </head>

  <body>
    
    <div class="flex flex-col">
      {% sections 'header-group' %}
    </div>
    
    <main id="MainContent" class="container mx-auto {{ settings.color_schemes | first }}" role="main">
      {{ content_for_layout }}
    </main>

    {{ 'header.js' | asset_url | script_tag }}
  </body>
  {% section 'footer' %}
</html>
