<article class="px-6 py-24 mx-auto space-y-12">
    {% if article.image %}
        <div class="container my-10">
            {{ article.image | image_url: width: '1920px' | image_tag: class: 'w-full rounded-lg' }}
        </div>
    {% else %}
        {{ 'blog-apparel-1' | placeholder_svg_tag: 'w-full rounded-lg' }}
    {% endif %}
    <div class="container max-w-2xl mx-auto">
        <div class="w-full mx-auto space-y-4 text-center my-16">
            <p class="text-xs font-semibold tracki uppercase">{{ article.tags }}</p>
            <h1 class="text-4xl font-bold leadi md:text-5xl">{{ article.title }}</h1>
            <p class="text-sm">by
                <a rel="noopener noreferrer" href="#" target="_blank" class="underline">
                    <span itemprop="name">{{ article.author }}</span>
                </a>on
                <time datetime="{{ article.created_at | date }}">{{ article.created_at | date }}</time>
            </p>
        </div>
        <div class="article-content">
            {{ article.content }}
        </div>
        <div class="pt-12 border-t">
            <div class="flex flex-col space-y-4 md:space-y-0 md:space-x-6 md:flex-row">
                <img src="https://source.unsplash.com/75x75/?portrait" alt="" class="self-center flex-shrink-0 w-24 h-24 border rounded-full md:justify-self-start">
                <div class="flex flex-col">
                    <h4 class="text-lg font-semibold">{{ article.author }}</h4>
                    <p></p>
                </div>
            </div>
            <div class="flex justify-center pt-4 space-x-4 align-center">
                <a rel="noopener noreferrer" href="#" aria-label="GitHub" class="p-2 rounded-md">
                    {% render 'icon-github' %}
                </a>
                <a rel="noopener noreferrer" href="#" aria-label="Email" class="p-2 rounded-md">
                    {% render 'icon-email' %}
                </a>
            </div>
        </div>
    </div>
	
</article>

{% stylesheet %}
    .article-content h2 {
        font-size: 1.75rem;
        font-weight: 700;
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .article-content p {
        font-size: 1rem;
        color: #343434;
    }
{% endstylesheet %}