<div class="flex flex-col gap-y-4 justify-start my-10">
    <div class="flex flex-row justify-between">
        <div>
            <h1 class="text-xl font-bold">Account</h1>
            <div>
                <a href="{{ routes.account_url }}" class="text-green-700 underline hover:text-green-900">Return to your account</a>
            </div>
        </div>
    </div>

    <div class="flex flex-row justify-between">
        <div>
            <h1 class="text-xl font-bold">{{ order.name }}</h1>
            <span class="text-sm text-gray-700">Placed on {{ order.created_at | date: format: 'date_at_time' }}</span>
        </div>
    </div>

    <table class="table-fixed">
            <thead>
                <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <th class="px-4 py-3">Product</th>
                    <th class="px-4 py-3">SKU</th>
                    <th class="px-4 py-3">Price</th>
                    <th class="px-4 py-3">Quantity</th>
                    <th class="px-4 py-3">Total</th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for line_item in order.line_items %}
                    <tr class="text-gray-700">
                        <td class="px-4 py-3 border">
                            <a href="{{ line_item.url }}" class="text-blue-700 underline font-bold">
                                {{ line_item.title }}
                            </a>
                        </td>
                        <td class="px-4 py-3 border">{{ line_item.sku }}</td>
                        <td class="px-4 py-3 border">{{ line_item.line_price | money_with_currency }}</td>
                        <td class="px-4 py-3 border">{{ line_item.quantity }}</td>
                        <td class="px-4 py-3 border">{{ line_item.final_line_price | money_with_currency }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr 
                    class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <td colspan="4" class="px-4 py-3 border text-left">Subtotal</td>
                    <td colspan="1" class="px-4 py-3 border text-right">{{ order.line_items_subtotal_price | money_with_currency }}</td>
                </tr>

                {% if order.cart_level_discount_applications != blank %}
                    {% for discount in order.cart_level_discount_applications %}
                        <tr 
                            class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                            <td colspan="4" class="px-4 py-3 border text-left">{{ discount.title }}</td>
                            <td colspan="1" class="px-4 py-3 border text-right">{{ discount.total_allocated_amount | money_with_currency }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                {% for shipping_method in order.shipping_methods %}
                    <tr 
                        class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <td colspan="4" class="px-4 py-3 border text-left">{{ shipping_method.title }}</td>
                        <td colspan="1" class="px-4 py-3 border text-right">{{ shipping_method.price | money_with_currency }}</td>
                    </tr>
                {% endfor %}

                {% for tax_line in order.tax_lines %}
                    <tr 
                        class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <td colspan="4" class="px-4 py-3 border text-left">{{ tax_line.title }}</td>
                        <td colspan="1" class="px-4 py-3 border text-right">{{ tax_line.price | money_with_currency }}</td>
                    </tr>
                {% endfor %}

                {% if order.total_duties %}
                    <tr 
                        class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <td colspan="4" class="px-4 py-3 border text-left">Total duties</td>
                        <td colspan="1" class="px-4 py-3 border text-right">{{ order.total_duties | money_with_currency }}</td>
                    </tr>
                {% endif %}

                {% if order.total_refunded_amount > 0 %}
                    <tr 
                        class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                        <td colspan="4" class="px-4 py-3 border text-left">Total refunded amount</td>
                        <td colspan="1" class="px-4 py-3 border text-right">{{ order.total_refunded_amount | money_with_currency }}</td>
                    </tr>
                {% endif %}

                <tr 
                    class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <td colspan="4" class="px-4 py-3 border text-left">Total</td>
                    <td colspan="1" class="px-4 py-3 border text-right">{{ order.total_net_amount | money_with_currency }}</td>
                </tr>
                
            </tfoot>
        </table>


</div>