<h1 class="collection-header">{{ collection.title }}</h1>

<div class="collection-products">
  {% paginate collection.products by 20 %}
    {% for product in collection.products %}
      <div class="collection-product">
        {% if product.featured_image %}
          {% render 'image',
            class: 'collection-product__image',
            image: product.featured_image,
            url: product.url,
            width: 400,
            height: 400,
            crop: 'center'
          %}
        {% endif %}
        <div class="collection-product__content">
          <a href="{{ product.url }}">{{ product.title }}</a>
          <div>
            {% if product.compare_at_price > product.price %}
              <span class="product-card__old-price">{{ product.compare_at_price | money }}</span>
              <span class="product-card__discount-price">{{ product.price | money }}</span>
            {% else %}
              <span class="product-card__current-price">{{ product.price | money }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}
</div>

{% stylesheet %}
  .collection-header {
    text-align: center;
    margin: 45px 0 65px;
  }
  .collection-products {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 25px;
    padding-bottom: 100px;
  }

  .collection-product {
    background-color: beige;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .collection-product__content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
  }

  .collection-product__content a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
